* {
  font-family: 'Eagle Lake', cursive;
}

h2 {
  font-weight: bold;
}
h1 {
  font-size: 80px;
}

body {
  background: cover;
  background-repeat: no-repeat;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/17/27/ac/1727ac629f102cc37ca87cb703f3b1c9.jpg");
}


#bardTale {
  display: none;
  margin-top: 20px;
  font-size: 25px;
}

#colTale {
  margin: 40px;
}
#raiseCol {
  height: 200px;
  margin-top: 150px;
  display: none;
}

#bardImage img {
  height: 200px;
  width: auto;
  border-radius: 100px;
  margin-top: 28px;
  margin-left: 900px;
  border-width: thick;
  border-style: double;
  border-color: black;
}

#moveBardTitle {
  padding-right: 200px;
  padding-top: 110px;
  text-align: left;
}

#moveCharacterTitle {
  text-align: center;
  margin-top: 170px;
}

#characterButton {
  text-align: center;
  margin-top: 35px;

}

#startContainer {
  height: 1000px;
  width: auto;
  background: url("../images/scrolls.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#characterContainer {
  height: 1200px;
  width: auto;
  background: url("../images/scrolls.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Tinks {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}

#Tex {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}
#Stunner {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}

#Ned {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
#trailerPlayerAppear {
  margin-top: 250px;
}

#towerPlayerAppear {

}

#hauntedPlayerAppear {
  margin-top: 750px;
}

#villagePlayerAppear {
  margin-top: 400px;
}

#castlePlayerAppear {

}

#boatPlayerAppear {

}

#housePlayerAppear {

}
.locationHero {
  height: 250px;

  margin-left: 80px;
}

.tinyImages {
  height: 140px;
  width: auto;
  margin-top: 100px;
}

#bardColumn {
  background-image: url("../images/bard.jpg");
  height: 800px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15px;
  padding-left: 20px;
}
 #mapContainer, #characterContainer, #villageContainer, #hauntedContainer, #towerContainer, #trailerContainer, #castleContainer, #back, .Tinks, .Tex, .Stunner, .Ned,.playerAppear {
  display: none;
}
#mapContainer {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-attachment: contain;
  height: 1000px;
  overflow: hidden;
}

#villageContainer {
  background: url("../images/village-background.png");
  background-repeat: no-repeat;
  background-attachment: contain;
  max-width: 1500px;
  height: 1000px;
  margin-top: 140px;
}

#hauntedContainer {
  background: url("../images/haunted-house.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1500px;
  height: 1000px;
  margin-top: 140px;
}

#towerContainer {
  background: url("../images/tower-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1500px;
  height: 1000px;
  margin-top: 140px;
}

#trailerContainer {
  background: url("../images/trailer-park.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1500px;
  height: 1000px;
  margin-top: 140px;
}

#castleContainer {
  background: url("../images/castle-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1500px;
  height: 1000px;
  margin-top: 140px;
}

#mapRow1 {

}

#mapRow2 {

}
#mapRow3 {

}
#mapRow4 {

}
#mapRow1Column1 {

}
#mapRow1Column2 {
  text-align: right;
  /*border: 1px solid yellow;*/
}
#mapRow2Column1 {
  text-align: center;
  /*border: 1px solid yellow;*/
}
#mapRow2Column2 {
  text-align: center;
  margin-top: 120px;
  padding-right: 50px;
  /*border: 1px solid yellow;*/
}
#mapRow3Column1 {
  margin-top: 90px;
  padding-left: 0px;
  /*border: 1px solid yellow;*/
}
#mapRow3Column2 {
  text-align: center;
  margin-top: 40px;
  /*border: 1px solid yellow;*/
}
#mapRow3Column3 {
  text-align: right;
  padding-right: 50px;
  margin-top: -15px;
  padding-bottom: 30px;
  /*border: 1px solid yellow;*/
}
#mapRow4Column1 {
  text-align: center;
  margin-top: 85px;
  padding-left: 120px;
  /*border: 1px solid yellow;*/
}
.mapLocations {
  max-width: 220px;
}
#oceanCastle {
  max-width: none;
  width: 250px;
}
#village {
  width: 200px;
}
#houseOverWater {
  width: 150px;
}
#ghostHouse {
  width: 90px;
}
#boat {
  width: 90px;
  /*transform: rotate(45deg);*/
}
#tower {

}
#ufo {
  width: 200px;
}


/*@media screen and (max-width: 441px) {
  * {
    text-align: center;
  }

  h1 {
    float: right;
    font-size: 20px;
    padding-right: 20px;
  }

  #bardTale {
    display: none;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 10px;
  }
  #bardImage {
    margin-right: 0px;
    padding-left: 0px;
  }

  #raiseCol {
    height: 0px;
    padding-top: 0px;
  }

  #bardImage img{
    height: 80px;
    width: auto;
    border-radius: 100px;
    margin-top: 0px;
    float: left;
  }

  #backStoryColumn {
    height: 350px;
    background-image: url("../images/scrolls.png");
    border: 2px solid red;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px;
  }

}*/

/*#towerButton {
  position: relative;
  z-index: 10;
  border: 1px solid red;
  background: transparent;
  width: 150px;
  height: 200px;
}*/
