* {
  font-family: 'Eagle Lake', cursive;
}

h2 {
  font-weight: bold;
}
h1 {
  font-size: 80px;
}

body {
  background: cover;
  background-repeat: no-repeat;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/17/27/ac/1727ac629f102cc37ca87cb703f3b1c9.jpg");
}

#bardTale {
  display: none;
  margin-top: 20px;
  font-size: 25px;
}

#colTale {
  margin: 40px;
}
#raiseCol {
  height: 200px;
  margin-top: 150px;
  display: none;
}

#bardImage img {
  height: 200px;
  width: auto;
  border-radius: 100px;
  margin-top: 28px;
  margin-left: 75%;
  border-width: thick;
  border-style: double;
  border-color: black;
}

#moveBardTitle {
  padding-right: 200px;
  padding-top: 110px;
  text-align: left;
}

#moveCharacterTitle {
  text-align: center;
  margin-top: 170px;
}

#characterButton {
  text-align: center;
  margin-top: 35px;

}

#startContainer {
  height: 1000px;
  width: auto;
  background: url("../images/scrolls.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#characterContainer {
  height: 1200px;
  width: auto;
  background: url("../images/scrolls.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Tinks {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}
/*//// character selection*/
#Tex {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}
#Stunner {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}

#Ned {
  height: 350px;
  background: url("../images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

/*/// hero and enemy at locations*/


.enemyStyle {
  height: 600px;
}


.hauntedHero {
  height: 150px;
  margin-top: 665px;
  margin-left: 15px;
}

#hauntedEnemyAppear {
  margin-top: 220px;
  margin-left: 350px;
}

.trailerHero {
  height: 150px;
  margin-top: 385px;
  margin-left: 15px;
}

.swampHero {
  height: 150px;
  margin-top: 475px;
  margin-left: 35px;
}

#swampEnemyAppear {
  margin-top: 100px;
  margin-left: 415px;
}

.villageHero {
  height: 150px;
  margin-top: 675px;
  margin-left: 60px;
}

#villageEnemyAppear {
  margin-top: 280px;
  margin-left: 350px;
}

.towerHero {
  height: 150px;
  margin-top: 800px;
  margin-left: 115px;
}

#towerEnemyAppear {
  margin-top: 690px;
  margin-left: 300px;
}

.boatHero {
  height: 150px;
  margin-top:300px;
  margin-left: 60px;
}

#castleHeroAppear {
  width: 300px;
}

.castleHero {
  height: 150px;
  margin-top:530px;
  margin-left: 60px;
}

#castleEnemyAppear {
  margin-left: 20px;
  margin-top: 175px;
}

.tinyImages {
  height: 140px;
  width: auto;
  margin-top: 100px;
}

.locationHide {
  overflow: hidden;
  border: solid 10px #c19734;
  border-radius: 20px;
}

.bossStyle {
  width: 800px;
  height: auto;
  margin-left: 300px;
  margin-top: 300px;
}

/*/////location buttons*/

#gameStart{
  background-color: #701100;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  border-color: #f9b652;
  color: #f9b652;
  font-size: 30px;
  text-shadow: 3px 3px #7c5821;

}

#throneRoom {
  background-color: purple;
  border-radius: 10px;
  margin-left: 515px;
  color: #c19734;
  border: 1px solid #c19734;

}



#startButton {
  margin-top: 10px;
  background-color: #9a703b;
  border-radius: 10px;
  border-color: #620608;
}

#beginYourJourney {
  margin-top: 30px;
  background-color: #b89a6c;
  border-radius: 10px;
  border-color: #620608;
}

.attack {
  margin-top: 20px;
  margin-left: 300px;
  background-color: #e84f4c;
  border-radius: 10px;
}

.escape {
  margin-top: 20px;
  margin-left: 400px;
  background-color: #fccf2d;
  border-radius: 10px;
}

/*/////location titles*/
#locationTitle {
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  color: #f9b652;
  text-shadow: 3px 3px #7c5821;
}

#bardColumn {
  background-image: url("../images/bard.jpg");
  height: 800px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15px;
  padding-left: 20px;
}
 #mapContainer, #boatContainer, #characterContainer, #villageContainer, #hauntedContainer, #towerContainer, #trailerContainer, #castleContainer, .escape, #startContainer, #swampContainer, .attack, #throneContainer, #throneRoom, .Tinks, .Tex, .Stunner, .Ned, .Turkerus, .playerAppear, .locTitle {
  display: none;
}

#titleScreenContainer {
  padding-top: 200px;
  text-align: center;
  font-family: 'Lobster Two', cursive;
}

#title {
  color: #f9b652;
  margin-bottom: 40px;
  text-shadow: 3px 3px #7c5821;
}

.locTitle {
  color: #f9b652;
  text-shadow: 3px 3px #7c5821;
  text-align: center;
  padding-bottom: -20px;
}

#sword {
  max-width: 600px;
}

#mapTitle {
  font-family: 'Lobster Two', cursive;
  color: #f9b652;
  text-shadow: 3px 3px #7c5821;
  font-size: 50px;
}

#ferryMan {
  margin-top: 400px;
  margin-left: 500px;
}

#mapContainer {
  margin-top: 100px;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-attachment: contain;
  height: 1000px;
  overflow: hidden;
  border: solid 3px #c19734;
  border-radius: 20px;
}

#swampContainer{
  background: url("../images/swampshack.jpg");
  background-repeat: no-repeat;
  background-attachment: cover;
  background-size: cover;
  max-width: 1500px;
  height: auto;
  margin-top: 140px;
}

#villageContainer {
  background: url("../images/village-background.png");
  background-repeat: no-repeat;
  background-attachment: contain;
  background-size: cover;
  max-width: 1500px;
  height: auto;
}

#hauntedContainer {
  background: url("../images/haunted-house.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
  max-width: 1500px;
  height: auto;
}

#towerContainer {
  background: url("../images/tower-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  max-width: auto;
  height: 1300px;
}

#trailerContainer {
  background: url("../images/trailer-park.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  max-width: 1500px;
  height: auto;
}

#castleContainer {
  background: url("../images/castle-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  max-width: 1500px;
  height: auto;
}

#boatContainer {
  background: url("../images/river.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  max-width: 1500px;
  height: auto;
}

#throneContainer {
  background: url("../images/throneroom.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  max-width: 1500px;
  height: auto;
}


#mapRow1 {

}

#mapRow2 {

}
#mapRow3 {

}
#mapRow4 {

}
#mapRow1Column1 {

}
#mapRow1Column2 {
  text-align: right;
  /*border: 1px solid yellow;*/
}
#mapRow2Column1 {
  text-align: center;
  /*border: 1px solid yellow;*/
}
#mapRow2Column2 {
  text-align: center;
  margin-top: 120px;
  padding-right: 50px;
  /*border: 1px solid yellow;*/
}
#mapRow3Column1 {
  margin-top: 90px;
  padding-left: 0px;
  /*border: 1px solid yellow;*/
}
#mapRow3Column2 {
  text-align: center;
  margin-top: 40px;
  /*border: 1px solid yellow;*/
}
#mapRow3Column3 {
  text-align: right;
  padding-right: 50px;
  margin-top: -15px;
  padding-bottom: 30px;
  /*border: 1px solid yellow;*/
}
#mapRow4Column1 {
  text-align: center;
  margin-top: 85px;
  padding-left: 120px;
  /*border: 1px solid yellow;*/
}
.mapLocations {
  max-width: 220px;

}

#oceanCastle {
  max-width: none;
  width: 250px;
}
#village {
  width: 200px;
}
#houseOverWater {
  width: 150px;
}
#ghostHouse {
  width: 90px;
}
#boat {
  width: 90px;
  /*transform: rotate(45deg);*/
}
#tower {

}
#ufo {
  width: 200px;
}


@media screen and (max-width: 1202px) {

  #sword {
    width: 90%;
  }

  #leafBanner {
    width: 100%;
  }

  #gameStart {
    font-size: auto;
    width: 20%;
  }
}

@media screen and (max-width: 657px) {
  #title {
    font-size: 50px;
  }
}

@media screen and (max-width: 441px) {

  #title {
    font-size: 25px;
  }

  #gameStart {
    font-size: 20px;
    width: 100px;
    height: auto;
  }

}

/*#towerButton {
  position: relative;
  z-index: 10;
  border: 1px solid red;
  background: transparent;
  width: 150px;
  height: 200px;
}
